<h3><%= @quote.title %></h3>

<div>
  CHAT CONTENTS HERE
</div>

<div>
  <h5>Content</h5>
  <p>
    <%= @quote.content %>
  </p>
  <%= link_to 'Like', rate_quote_path(:like => true), :method => :post, :remote => true %> <span class="quote_like_<%= @quote.id %>"><%= @quote.rate.likes.length %></span>
  <%= link_to 'Dislike', rate_quote_path(:like => false), :method => :post, :remote => true %> <span class="quote_dislike_<%= @quote.id %>"><%= @quote.rate.dislikes.length %></span>
  <%= link_to '공유하기', '#' %>
</div>

<div>
  <h5>Comments</h5>
  <div>
    <%= form_for(@comment, :url => quote_comments_path(@quote)) do |f| %>
      <%= f.text_field :content %>
      <%= f.submit '작성' %>
    <% end %>
  </div>
  <div>
  <% if @quote.comments.length > 0 %>
    <% @quote.comments.each do |c| %>
      <b><%= c.user.username %></b>
      <%= c.content %>
    <% end %>
  <% else %>
    코멘트가 없습니다
  <% end %>
  </div>
</div>


<%= link_to 'Back', quotes_path %>
