<div class = "chatScreen">
  <div class = "chat_list">
  <%= html_maker(@messages).html_safe %>
  </div>
</div>

<%= @full_url %>
<div>
  다음 대화를 공유하시겠습니까?
  <p>
  <%= form_for(@quote, :url => chat_parts_path(:chat_id => @chat, :start => params[:start], :end => params[:end])) do |f| %>
    <p>
    제목
    <%= f.text_field :title %>
    </p>
    <p>
    내용
    <%= f.text_area :content %>
    </p>
    <%= f.submit '공유' %>
  <% end %>
  </p>
</div>
