<h1>대화 올리기</h1>

<h3>파일로 올리기</h3>
<div>
  <%= form_for(@chat) do |f| %>
  <% if @chat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chat.errors.count, "error") %> prohibited this chat from being saved:</h2>

      <ul>
      <% @chat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :chat_type, :value => UPLOADED %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :chatfile %><br />
    <%= f.file_field :chatfile %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
</div>

<h3>메일로 올리기</h3>
<div>
  카카오톡의 내보내기 기능을 이용하여, <%= current_user.username %>@DOMAIN.COM으로 대화내역을 보내주세요! 자동으로 저장됩니다.
</div>

<h1>대화 만들기</h1>
<div>
  재미있는 이야기를 카카오톡 대화처럼 만들 수  있습니다!
</div>

<div>
  <%= form_for(@chat) do |f| %>
  <% if @chat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chat.errors.count, "error") %> prohibited this chat from being saved:</h2>

      <ul>
      <% @chat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :chat_type, :value => CREATED %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>

</div>

<%= link_to 'Back', chats_path %>
