<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @chat.title %>
</p>

<div class = 'chatScreen'>
	<div class = 'chat_list'>
    <%= html_maker(@chat.messages).html_safe %>
	</div>
</div>

<%= link_to_function 'Share', 'toggleRadio();' %> |
<%= link_to 'Edit', edit_chat_path(@chat) %> |
<%= link_to 'Back', chats_path %>

<br>
<%= link_to_function 'Shart Part!', "newPart('#{new_chat_part_path(:chat_id => @chat)}')" %>
