<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <div class = 'chatTitle'>
    <span id = 'chatTitleText'><%= @chat.title %></span>
    <%= link_to_function 'Edit', 'toggleTitle()' %>
  </div>
  <div class = 'chatTitle transparent'>
    <%= form_for(@chat, :remote => true) do |c| %>
      <%= c.text_field :title %>
      <%= c.submit '수정' %>
    <% end %>
  </div>
</p>

<div class = 'chatScreen'>
	<div class = 'chat_list'>
    <%= html_maker(@chat.messages).html_safe %>
	</div>
</div>
<div>
  <% if @chat.chat_type == CREATED %>
    <%= form_for(@message, :url => chat_messages_path(@chat), :remote => true) do |f| %>
      <%= f.select :message_type, Message.option_for_messagetype %>

      <div class="messageFieldType1 messageField">
        <%= f.select :content, Message.option_for_content %>
        <%= f.select :isMine, Message.option_for_ismine %>
      </div>
      <div class="messageFieldType3 messageField">
        <%= f.text_field :name_by, :class => 'messageFieldName', :placeholder => '초대한 사람' %>
      </div>

      <%= f.text_field :name, :placeholder => '이름' %>
      <%= f.text_field :message, :placeholder => '내용' %>

      <%= f.submit '작성' %>
    <% end %>
  <% end %>
</div>

<ul class="sideMenu">
  <li><%= link_to_function '위', 'toTop();' %></li>
  <li><%= link_to_function '아래', 'toBottom();' %></li>
  <li><%= link_to_function '공유', "toggleShare('#{@chat.id}');" %></li>
  <li><%= link_to_function '편집', 'toggleEdit();' %></li> 
  <li><%= link_to '뒤로', chats_path %></li>
</ul>
