<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @chat.title %>
</p>

<div>
  <% if @chat.chatfile? %>
    <%= html_maker(@chat.parse_file).html_safe %>
  <% end %>
</div>


<%= link_to 'Share', '#' %>
<%= link_to 'Edit', edit_chat_path(@chat) %> |
<%= link_to 'Back', chats_path %>
