<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <div class = 'chatTitle'>
    <span id = 'chatTitleText'><%= @chat.title %></span>
    <%= link_to_function 'Edit', 'toggleTitle()' %>
  </div>
  <div class = 'chatTitle transparent'>
    <%= form_for(@chat, :remote => true) do |c| %>
      <%= c.text_field :title %>
      <%= c.submit '수정' %>
    <% end %>
  </div>
</p>

<div class = 'chatScreen'>
	<div class = 'chat_list'>
    <%= html_maker(@chat.messages).html_safe %>
	</div>
</div>
<div>
  <% if @chat.chat_type == CREATED %>
    <%= form_for(@message, :url => chat_messages_path(@chat), :remote => true) do |f| %>
      <%= f.select :message_type, Message.option_for_messagetype %>

      <div class="messageFieldType1 messageField">
        <%= select :M1, :content, Message.option_for_content %>
        <%= select :M1, :isMine, Message.option_for_ismine %>
        <%= text_field :M1, :name, :placeholder => '이름' %>
        <%= text_field :M1, :message, :placeholder => '내용' %>
      </div>
      <div class="messageFieldType0 messageField">
        <%= select :M0, :content, Message.option_for_content %>
        <%= text_field :M0, :message, :placeholder => '내용', :value => Message.current_date  %>
      </div>
      <div class="messageFieldType3 messageField">
        <%= select :M3, :content, Message.option_for_content %>
        <%= select :M3, :isMine, Message.option_for_ismine %>
        <%= text_field :M3, :name_from, :class => 'messageFieldName', :placeholder => '사람A' %>
        <%= text_field :M3, :name_to, :class => 'messageFieldName', :placeholder => '사람B' %>
        <%= text_field :M3, :message, :placeholder => '내용', :value => '사람A님이 사람B님을 초대받은 사람을 초대했습니다.' %>
      </div>
      <div class="messageFieldType4 messageField">
        <%= select :M4, :content, Message.option_for_content %>
        <%= select :M4, :isMine, Message.option_for_ismine %>
        <%= text_field :M4, :name, :class => 'messageFieldName', :placeholder => '사람A' %>
        <%= text_field :M4, :message, :placeholder => '내용', :value => '사람A님이 퇴장했습니다.' %>
      </div>

      <%= f.submit '작성' %>
    <% end %>
  <% end %>
</div>

<ul class="sideMenu">
  <li><%= link_to_function '위', 'toTop();' %></li>
  <li><%= link_to_function '아래', 'toBottom();' %></li>
  <li><%= link_to_function '공유', "toggleShare('#{@chat.id}');" %></li>
  <li><%= link_to_function '편집', 'toggleEdit();' %></li> 
  <li><%= link_to '뒤로', chats_path %></li>
</ul>
