<!DOCTYPE html>
<html>
<head>
  <title>Kakaoreview</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <!-- Navigation bar -->
    <%= render :partial => 'layouts/header' %>
    <!-- Navigation bar end -->

    <div class="row-fluid">
      <div class="span2">
        <!-- Sidebar contents -->
        <div class="well">
        <%= render :partial => 'sidebar' %>
        </div>
      </div>
      <div id="content_box" class="span10">
        <!-- Contents -->
        <%= yield %>
      </div>
    </div>
  </div>

  <%= render :partial => 'layouts/footer' %>
</body>
</html>
